grafana.ini:
  server:
    domain: argocd.fabrice.local
    root_url: "%(protocol)s://%(domain)s/grafana"
    serve_from_sub_path: true
  feature_toggles:
    enable: grafanaAdvisor,provisioning,kubernetesDashboards,panelTimeSettings,timeComparison
  users:
    default_theme: light
  external_image_storage:
    provider: local
  unified_alerting.screenshots:
    capture: true
    upload_external_image_storage: true
ingress:
  enabled: true
  hosts:
    - "argocd.fabrice.local"
  tls:
    - hosts:
        - argocd.fabrice.local
      secretName: quickstart-example-tls
  path: "/grafana"
  annotations:
    cert-manager.io/issuer: "my-ca-issuer"
adminPassword: "password"
imageRenderer:
  enabled: true
sidecar:
  datasources:
    enabled: true
    label: grafana_datasource
  # dashboards:
  #   enabled: true
  #   label: grafana_dashboard
