apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-crds
  namespace: argocd
spec:
  destination:
    namespace: prometheus
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: prometheus-operator-crds
      repoURL: "https://prometheus-community.github.io/helm-charts"
      targetRevision: 24.0.1
  syncPolicy:
    automated:
      {}
    syncOptions:
      - CreateNamespace=true
      - Replace=true
